<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
     <h2>Enter your phrase:</h2>
     <form id="user_phrase" method="POST" action="/piglatinize">
       <p>Your phrase: <input type=“text” name=“phrase”></p>
       <input type="submit">
     </form>

  </body>
</html>
